/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: static;
  bottom: 0; /*Using position absolute, forces footer stay at the bottom of the page */
  width: 100%; /*set's the footer width to 100% of the page's width*/
  line-height: 60px; /* Vertically center the text there */
  /*margin: 10%; dont need this as the width is already set*/
}

ui-view{
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}

body{
    padding: 0 !important;
    margin: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #330033 !important;
    height: 100vh !important;
}

.container{
    width: 100vw !important;
    margin: 0;
}

input{ 
    margin: auto !important;
    -webkit-appearance: slider-vertical !important;
    position: relative !important;
    overflow: hidden !important;
    height: 50vh !important;
    width: 5vh !important;
    cursor: pointer !important;
    border-radius: 50px !important;
}

::-webkit-slider-runnable-track {
    height: 80% !important;
    width: 10vh !important;
    background: #ddd !important;
}

::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 10vh !important;
    height: 60px !important;
    background: #ddd !important;
    box-shadow: 0 68vh 0 68vh dodgerblue !important;
    border: 2px solid #999 !important;
}
